.table{
    /* border: solid blue; */
    transform: scale(0.95);
}

.container2{
    /* border: solid beige; */
    background-color: white;
    margin-right: 2rem;
    border-radius: 5px;
}


/* .container{
    border: solid black;
    width: 5rem;
    height: 5rem;
} */